# exclude everything by default
*

# include source files
!/bin
!/crates
!Cargo.lock
!Cargo.toml

# Pre-built ELFs required by rsp-proxy runtime stage
!rsp-client-*.elf
!nitro-validator-*.elf

# Exclude build artifacts from context
**/target
